<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
  <targets>
    <!-- writes log file to ./logs/AnnoDesigner.log relative to exe -->
    <target xsi:type="File" name="MainLogger"
            fileName="${basedir}/logs/AnnoDesigner.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString,StackTrace:separator=\n}"
            keepFileOpen="true"
            concurrentWrites="false"
            archiveFileName="${basedir}/logs/archives/AnnoDesigner.{#}.log"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            maxArchiveFiles="7"
            encoding="utf-8" />

    <!-- also write to console for debug runs -->
    <target xsi:type="Console" name="ConsoleLogger" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
  </targets>

  <rules>
    <!-- Default rule: Info+ to file and console -->
    <logger name="*" minlevel="Info" writeTo="MainLogger,ConsoleLogger" />
  </rules>
</nlog>